.navbar-light .navbar-brand img,
.footer .brand img {
    max-width: 400px;
    width: 100%;
}
.page .hero-wrapper {
    position: relative;
    background: rgba(0,0,0,.5);
}
.page.detail-page .hero-wrapper {
    background: #12A771;
}
.page.home-page .hero .page-title h1 {
    padding: 0 10rem;
}
.form.hero-form {
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.item .meta span.red {
    color: red!important;
}
.newsletter-box {
    background-color: rgba(0,0,0,.5)!important;
    border-radius: 10px;
    overflow: hidden;
}
.hero .main-navigation .main-search-form-toggle,
.page.detail-page .hero .page-title h1 .tag {
    background-color: #2EE8A5;
}
.breadcrumb-item.active {
    color: #2EE8A5;
}
.page.detail-page .hero-form .btn.btn-primary {
    background-color: #2EE8A5;
    border-color: #2EE8A5;
}
.page.detail-page .hero-form a.icon i {
    color: #2EE8A5;
}
.page.detail-page .hero .main-navigation .navbar ul.navbar-nav .btn {
    border-color: #fff;
}
.hero .page-title .price .number,
.hero .page-title .price .id {
    color: #fff;
}
.page.detail-page .detail {
    padding-bottom: 0;
}
.page.detail-page .related {
    padding-top: 0;
}

@media (max-width: 767px) {
    .block {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .navbar-light .navbar-toggler {
        background: #fff;
    }
    .hero .main-navigation .navbar ul.navbar-nav > li.nav-item a.nav-link {
        text-align: center;
        display: block;
    }
    .hero .secondary-navigation .left {
        display: none;
    }
    .hero .secondary-navigation {
        text-align: center;
    }
    .hero .secondary-navigation .right {
        float: none;
        display: inline-block;
        margin-bottom: -5px;
    }
    .hero .page-title h1 {
        padding: 0;
    }
    .navbar-light .navbar-brand img, .footer .brand img {
        max-width: 250px;
        width: 100%;
    }
    .form.hero-form {
        padding-top: 0;
    }
    .form.hero-form .main-search-form {
        margin-bottom: 0;
    }
    .form .alternative-search-form {
        padding: 0 3rem;
    }
    .footer {
        padding: 5rem;
        text-align: center;
    }
    .footer h2 {
        margin-bottom: 1rem;
    }
}

.badge-level-counter {
    position: relative;
    top: -3px;
    padding-bottom: 1px;
}

.item .wrapper .image .image-wrapper {
    background-color: rgba(18,167,113,1);
}